.LotteryBall {
  background-color:#ad0d0d;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
